<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
  </head>
  <body>
    <header class="main-header">
      <a class="main-logo" href="https://progradudi.netlify.app">
        <strong>Progra_dudi</strong>
      </a>
      <nav id="nav" class="main-nav">
        <div class="nav-links">
          <a class="link-item" href="#">Link1</a>
          <a class="link-item" href="#">Link2</a>
          <a class="link-item" href="#">Link3</a>
          <a class="link-item" href="#">Link4</a>
        </div>
      </nav>
      <button id="button-menu" class="button-menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </header>
    <script src="/js/script.js"></script>
  </body>
</html>
      